{% extends 'base.html' %}
{% block conteudo %}
  <h2>Início</h2>
  <p>Este é um projeto exemplo de uma livraria online</p>
  <p>Este projeto tem como base o livro "Python e Django: Desenvolvimento Weeb Moderno e Ágil" do autor
    Francisco Marcelo de Barros Maciel</p>
  <p>O projeto básico foi implementado com outras funcionalidades, como:</p>
  <ul>
    <li>Correção de bugs no fechamento do carrinho e redirecionamento de páginas</li>
    <li>Melhoria na apresentação da loja</li>
    <li>Melhoria no grid com uso de Bootstrap</li>
    <p></p>

  <span>Todo o código do projeto pode ser visualizado no meu <a href="https://github.com/filipevsco/lojavirtual-altabooks">GITHUB</a>
  </span>
{% endblock %}
