
<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item"><a href="/" class="nav-link link-dark px-2" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/admin/main/categoria/" class="nav-link link-dark px-2">Manutenção de Categorias</a></li>
            <li class="nav-item"><a href="/admin/main/produto/" class="nav-link link-dark px-2">Manutenção de Produtos</a></li>
            <li class="nav-item"><a href="/produtos/" class="nav-link link-dark px-2">Loja</a></li>
            <li class="nav-item"><a href="/fale_conosco/" class="nav-link link-dark px-2">Fale Conosco</a></li>
            <li class="nav-item"><a href="/ajuda/" class="nav-link link-dark px-2">Ajuda</a></li>

        </ul>
        <ul class="nav">       
            {% with quantidade_itens=carrinho|length %}
                {% if carrinho|length > 0 %}
                <li class="nav-item"> 
                    <a class="nav-link" href=" {% url 'carrinho:detalhes_carrinho' %}">
                        {{ quantidade_itens }} produto {{ quantidade_itens|pluralize }}  no carrinho: R$ {{ carrinho.get_total_geral }}
                    </a>
                </li>
                {% else %}
                    <li class="nav-item p-2">Carrinho vazio</li>
                {% endif %}
            {% endwith %}
        </ul>
    </div>
</nav>
