
<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/admin/main/categoria/" class="nav-link link-dark px-2">Manutenção de Categorias</a></li>
            <li class="nav-item"><a href="/admin/main/produto/" class="nav-link link-dark px-2">Manutenção de Produtos</a></li>
            <li class="nav-item"><a href="/produtos/" class="nav-link link-dark px-2">Loja</a></li>
            <li class="nav-item"><a href="/fale_conosco/" class="nav-link link-dark px-2">Fale Conosco</a></li>
            <li class="nav-item"><a href="/ajuda/" class="nav-link link-dark px-2">Ajuda</a></li>

        </ul>
        <ul class="nav">
            <li class="nav-item">
                {% with quantidade_itens=carrinho|length %}
                    {% if carrinho|length > 0 %}
                        Seu carrinho de compras:
                        <a class="nav-link text-light" href=" {% url 'carrinho:detalhes_carrinho' %}">
                            {{ quantidade_itens }} produto {{ quantidade_itens|pluralize }} - R$ {{ carrinho.get_total_geral }}
                        </a>
                    {% else %}
                        Seu carrinho está vazio;
                    {% endif %}
                {% endwith %}
            </li>
        </ul>
    </div>
</nav>
