{% extends 'base.html' %}
{% load static %}
{% block titulo %}
    {% if categoria %}
        {{ categoria.nome }}
    {% else %}
        Produtos
    {% endif %}
{% endblock titulo %}
{% block conteudo %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="card-body row">
                <div class="col-md-4">
                    <img src="{% if produto.imagem %}
                                {{ produto.imagem.url }}
                                {% else %}
                                {% static 'img/default.png' %}
                                {% endif %}"
                        alt="Imagem de {{ produto.nome }}"
                        style="height: 500px; width: auto">
                </div>
                <div class="col-md-8 " style="padding-left: 20px">
                    <h2>{{ produto.nome }}</h2>
                    <h6>
                        <a href="{{ produto.categoria.get_absolute_url }}">
                        {{ produto.categoria }}
                        </a>
                    </h6>
                    <h4 class="text-success">R$ {{ produto.preco }}</h4>
                    <p> {{ produto.descricao }} </p>
                    <form action="{% url 'carrinho:adicionar_ao_carrinho' produto.id %}" method="post">
                        {{ form_produto_carrinho }}
                        {% csrf_token %}
                        <input type="submit" value="Adicionar ao carrinho">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock conteudo %}