{% extends 'base.html' %}
{% load static %}
{% block titulo %}
    {% if categoria %}
        {{ categoria.nome }}
    {% else %}
        Produtos
    {% endif %}
{% endblock titulo %}

{% block conteudo %}
    <div class="container-fluid">
        <div class="row" style="margin-top: 1em">
            <!-- INICIO COLUNA LATERAL ESQUERDA-->
            <div class="col-lg-3 col-md-3 col-sm-6 border">
                <div class='sidebar-module border'>
                    <h4>Categorias</h4>
                    <ol class="list-unstyled">
                        <li {% if not categoria %} class="active" {% endif %}>
                            <a href="{% url 'main:listar_produtos' %}">Todos</a>
                        </li>
                        {% for c in lista_categorias %}
                            <li {% if categoria.slug == c.slug %} class="active" {% endif %}>
                                <a href="{{ c.get_absolute_url }}">
                                    {{ c.nome }}
                                </a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            <!--FIM COLUNA LATERAL ESQUERDA-->
            <div class="col-lg-9 col-md-9 col-sm-6 border">
                    <div class="row border">
                        {% for produto in lista_produtos %}
                            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12" style="">
                                <div class="thumbnail text-center">
                                    <a class="text-center" href="{{ produto.get_absolute_url}}">
                                        <img style="height: 320px;" src=" 
                                            {% if produto.imagem %}
                                                {{ produto.imagem.thumbnail.url }}
                                            {% else %}
                                                {% static 'img/dafault.jpeg' %}
                                            {% endif %}"
                                            alt="Imagem de {{ produto.nome }}"
                                            class="img-thumbnail">
                                    </a>
                                    <div class="caption p-2">
                                        <h4>
                                        <a class="text-dark" style="text-decoration: none;" href="{{ produto.get_absolute_url }}">
                                                {{ produto.nome }}
                                            </a>
                                        </h4>
                                            <p class="text-center">
                                                {{ produto.descricao }}
                                            </p>
                                            <h3 class="text-center">
                                                R$ {{ produto.preco }}
                                            </h3>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>

        </div>
    </div>
{% endblock conteudo %}